<section class="section" id="about">

       <div class="container about">

          

                     <p class="label__title">Tradition and love</p>

                     <h2 class="about__title">How it’s made?</h2>
            
 
      
  
       <div class="img-wrapper">
                
        
              
          
        
          <picture>
                <source
                  srcset="
                    ./images/desctop/about-cow-1x-min.jpg 1x,
                   ./images/desctop/about-cow-2x-min.jpg 2x
                  "
                  media="(min-width: 1200px)"
                />
                <source
                  srcset="
                  ./images/tablet/about-cow-1x-min.jpg  1x,
                   ./images/tablet/about-cow-2x-min.jpg 2x
                  "
                  media="(max-width: 1199px)"
                />
                <source
                  srcset="
                  ./images/mobile/about-cow-1x-min.jpg  1x,
                  ./images/mobile/about-cow-2x-min.jpg 2x
                  "
                  media="(max-width: 797px)"
                />
                <img
                  class="about__img"
                  src="./images/desctop/about-cow-1x-min.jpg"
                  alt="cow"
                />
        
              </picture>
       </div>         
              
              
   
   
     
<div class="text-wrapper">

    

              <p class="about__text">
               Ice is a place where you will become not only a little happier, but also healthier.
               Health is the main value for us, and we follow it when creating our handmade desserts.    
              </p>

    

      

              <p class="about__text">
               We use traditional recipes and 100% natural ingredients.
               Our products are so natural that they can be given to children from the age of three years.
               Sweets lovers can expect 55 types of ice cream, 15 types of coffee and 23 milkshakes. 

               This is enough to choose ice cream and coffee for any mood!
              </p>

      <button
          type="button" class="button about__btn btn-filled" data-modal-open>Read more&nbsp;&nbsp;&nbsp;&nbsp;&#x276F;
      </button>
     

 </div>
</div>
</section>



<!-- --------------------------------------modal-window------------------------------------------------------------ -->


  <div class="backdrop is-hidden" data-modal>
      <div class="modal">
        <button type="button" class="modal__btn " data-modal-close>X
          <svg class="modal__clone" width="18" height="18">
            <use href=" ./images/svgs/btn-mobile-close-1x.png"></use>
          </svg>
        </button>
        <h2 class="modal__title">How it’s made?</h2>
        <video class="video" width="440" height="250" controls>
       <source src="/src/video/video1.mp4" type="video/mp4">

        </video>

        <p class="modal__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut 
          labore et Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et

        </p>
     
      </div>
    </div>
    <script src="./js/modal.js"></script>