<section class="about">

       <div class="container">

              <div class="title-box">

                     <h3 class="title">Tradition and love</h3>

                     <h2 class="title-made">How it’s made?</h2>
              </div>
 
      
  
       <div class="img__cow">
                
        <img class="img__home" src="./images/desctop/about-home.jpg" alt="home"  width="500" height="500" />  
        <img class="img" src="./images/desctop/about-cow-1x-min.jpg" alt="cow" width="490" height="490" />         
                  
       </div>         
              
              
   
   
     
<div class="text__content">

       <div>

              <p class="text">
               Ice is a place where you will become not only a little happier, but also healthier.
               Health is the main value for us, and we follow it when creating our handmade desserts.    
              </p>

       </div>  

       <div>

              <p class="text__info">
               We use traditional recipes and 100% natural ingredients.
               Our products are so natural that they can be given to children from the age of three years.
               Sweets lovers can expect 55 types of ice cream, 15 types of coffee and 23 milkshakes. 

               This is enough to choose ice cream and coffee for any mood!
              </p>

      <button
          type="button" class="button about__btn" data-modal-open>Read more&nbsp;&nbsp;&nbsp;&nbsp;&#x276F;
      </button>
       </div>

 </div>
</div>
</section>
