<footer class="footer">
  <div class="footer-container container">
    <div class="footer-desc">
      <p class="footer-desc__first-part">homemade ice cream made</p>
      <span class="footer-desc__second-part">with passion</span>
    </div>
    <div class="footer-social">
      <ul class="socials">
        <li class="socials__item">
          <a href="https://github.com" class="socials__link">
            <svg class="socials__icon" width="34px" height="34px">
              <use href="./images/icons.svg#github" class=""></use>
            </svg>
          </a>
        </li>
        <li class="socials__item">
          <a href="https://web.telegram.org" class="socials__link">
            <svg class="socials__icon" width="34px" height="34px">
              <use href="./images/icons.svg#telegram" class=""></use>
            </svg>
          </a>
        </li>
        <li class="socials__item">
          <a href="https://www.facebook.com" class="socials__link">
            <svg class="socials__icon" width="34px" height="34px">
              <use href="./images/icons.svg#facebook" class=""></use>
            </svg>
          </a>
        </li>
      </ul>
      <div class="footer-contacts">
        <a href="tel:+61(0)383766284" class="footer-contacts__link">
          <span class="footer-contacts__desc">Feel free to contact&nbsp;</span>+61 (0) 383 766 284</a>
      </div>
    </div>
  </div>
  <p class="footer-finally-desc container">
    &copy; 2022 - IceCream. All Rights Reserved.
  </p>
</footer>