<section>
  <div class="container">
    <!-- svg or img? -->
    <div class="header">
      <a href="./" class="logo">
        <svg class="logo__image">
          <use href="./images/icons.svg#logo" class="logo__icon"></use>
        </svg>
      </a>

      <nav class="nav">
        <ul class="menu">
          <li class="menu__item">Home</li>
          <li class="menu__item">About us</li>
          <li class="menu__item">How it's made?</li>
          <li class="menu__item">Our products</li>
          <li class="menu__item">Contact</li>
        </ul>
      </nav>

      <button type="button" class="btn-mobile-open" data-menu-open>
        <picture>
          <source
            srcset="
              ./images/svgs/Burger-1x.png 1x,
              ./images/svgs/Burger-2x.png 2x,
              ./images/svgs/Burger-3x.png 3x
            "
            media="(max-width: 1199px)"
          />
          <img
            src="./images/svgs/Burger-1x.png"
            alt="open menu"
            class="btn-mobile-open__icon"
          />
        </picture>
      </button>

      <button type="button" class="btn btn__header">
        Buy now&nbsp;&nbsp;&nbsp;&nbsp;&#x276F;
      </button>
    </div>
  </div>
</section>
