.about__btn {

    width: 150px;
    height: 42px;
    padding: 12;

    font-weight: 600;
    font-size: 14px;
    line-height: 1.21;
    align-items: center;
    text-align: center;

    border-radius: 10px;
    background: #F8D24E;
    color: black;
    border: 0;
}
.button {
    margin-top: 40px;
}


.text {
    font-family: 'Montserrat';
    font-weight: 400;
    font-size: 16px;
    line-height: 176%;
    letter-spacing: 0.04em;

    color: #FCFCFC;
}

.text__info {
    font-family: 'Montserrat';
    font-weight: 400;
    font-size: 14px;
    line-height: 194%;
    letter-spacing: 0.04em;

    color: #FCFCFC;
}

.title {
    font-family: 'Montserrat';
    margin-bottom: 12px;
    font-weight: 800;
    font-size: 30px;
    line-height: 1.23;
    text-align: center;
    letter-spacing: 0.04em;
    text-transform: uppercase;

    color: #FCFCFC;
}

.title-made {
    font-family: 'Seymour One';
    font-weight: 400;
    font-size: 36px;
    line-height: 1.25;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #FCFCFC;
}

.text__content {
    margin-top: 326px;
    margin-left: 615px;
    width: 463px;
    height: 266px;
}




.img {
position: absolute;
    width: 490px;
    height: 490px;
  
    top: 3998px;

   
    border-radius: 1852.2px;
}

.img__home {
    position: absolute;
        width: 500px;
        height: 500px;
        
        top: 3959px;
    
    background: linear-gradient(0deg, rgba(248, 210, 78, 0.7), rgba(248, 210, 78, 0.7)), #D9D9D9;
        box-shadow: 0px 8px 30px rgba(153, 114, 23, 0.25);
        border-radius: 250px;
       
}
.container {
  
    width: 1200px;
    height: 1228px;

}

.img__cow {
    margin-top: 275px;
    margin-left: 16px;
}

.title-box {
    padding-top: 69px;
}