.footer-desc__first-part {
  @media screen and (max-width: 767px) {
  }
  font-weight: 400;
  font-size: 30px;
  line-height: 1.23;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #fcfcfc;
  margin-bottom: 14px;
}

.footer-desc__second-part {
  font-weight: 700;
  font-size: 58px;
  line-height: 1.22;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #fcfcfc;
  display: block;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #e1e1e1;
  padding-bottom: 60px;
}

.footer-social-list {
  display: flex;
  justify-content: end;
  margin-bottom: 40px;
}

.footer-social-list__item:not(:last-child) {
  margin-right: 30px;
}

.footer-contacts__link {
  font-weight: 700;
  font-size: 16px;
  line-height: 186%;
  letter-spacing: 0.02em;
  color: #ffffff;
}

.footer-contacts__desc {
  font-weight: 700;
  font-size: 16px;
  line-height: 186%;
  letter-spacing: 0.02em;
  color: #131313;
}

.footer-finally-desc {
  text-align: center;
  padding-top: 12px;
  padding-bottom: 12px;
  font-weight: 700;
  font-size: 12px;
  line-height: 186%;
  letter-spacing: 0.02em;
  color: #7a7a7a;
}
